<p>
  bank-transaction works!
</p>
<div class="container">

  <div class="input-group mb-3">
    <div class="custom-file" (change)="onFileSelected($event)">
      <input type="file" class="custom-file-input" id="inputGroupFile02">
      <label class="custom-file-label" for="inputGroupFile02">{{name}}</label>
    </div>
    <div class="input-group-append">
      <button class="btn btn-primary" (click)="onUploadTxtFile()">Enviar</button>
      <button class="btn btn-warning"  (click)="cancelFile()">Cancel</button>
    </div>
  </div>
  <small id="emailHelp" class="form-text text-muted">Seleccione un archivo Factura de Venta en formato XML de  para ser enviada.</small>
  
  <div *ngIf="currentFileUpload" class="progress">
    <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" attr.aria-valuenow="{{progress.percentage}}" aria-valuemin="0" aria-valuemax="100" [ngStyle]="{width:progress.percentage+'%'}">
      {{progress.percentage}}%</div>
      <!-- <mat-progress-bar mode="determinate" value="{{progress.percentage}}"></mat-progress-bar> -->
    </div>
    
  </div>


  <div class="container">

    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th class="small-text" scope="col">FechaOperacion</th>
          <th scope="col">Fecha</th>
          <!-- <th scope="col">referencia</th> -->
          <th scope="col">Descripcion</th>
          <th scope="col">Deposito</th>
          <th scope="col">Retiro</th>
          <th scope="col">Saldo</th>
          <!-- <th scope="col">Movimiento</th> -->
          <th scope="col">cuenta</th>
          <th scope="col">Detalles</th>


        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let movement of bankTransaction">
          <th class="small-text">{{movement.id}}</th>
          <td class="small-text">{{movement.fechaOperacion | date: 'shortDate'}}</td>
          <td class="small-text">{{movement.fecha | date: 'shortDate'}}</td>
          <!-- <td class="small-text">{{movement.referencia}}</td> -->
          <td class="small-text">{{movement.descripcion}}</td>
          <td class="small-text">{{movement.depositos | currency}}</td>
          <td class="small-text">{{movement.retiros | currency}}</td>
          <td class="small-text">{{movement.saldo | currency}}</td>
          <!-- <td class="small-text">{{movement.movimiento | number}}</td> -->
          <td class="small-text">{{movement.cuenta}}</td>
          <td class="small-text">{{movement.descripcionDetallada}}</td>



          <td><div class="button" class="btn btn-link">Detalle</div></td>
          <td>
            <div class="custom-control custom-checkbox my-1 mr-sm-2">
              <!-- <input type="checkbox" value="{{invoice.payment}}" [checked] = "invoice.payment" (change)="onChange(invoice.id, $event.target.checked)" class="custom-control-input" id="{{invoice.id}}"> -->
              <!-- <label class="custom-control-label" for="{{invoice.id}}"></label> -->
            </div>
          </td>
        </tr>
        
      </tbody>
    </table>
  </div>
