<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Admin-Pro 2020</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           Bancos
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" routerLink="bank/bank-list">Lista de Bancos</a>
            <a class="dropdown-item" routerLink="bank/add-bankaccount">Alta de Cuenta</a>
            <a class="dropdown-item" routerLink="bank/add-banktransaction">Alta de Movimientos</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           Clientes
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" routerLink="customer/upload">Lista de Facturas</a>
            <a class="dropdown-item" routerLink="bank/add-bankaccount">Alta de Cuenta</a>
            <a class="dropdown-item" routerLink="bank/add-banktransaction">Alta de Movimientos</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
           Cuentas Contables
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" routerLink="account/add-account">Lista de Cuentas</a>
            <a class="dropdown-item" routerLink="account/add-subaccount">Alta de Subcuenta</a>
            <a class="dropdown-item" routerLink="account/subaccount-list">Lista de Subcuentas</a>
            <a class="dropdown-item" routerLink="account/add-accounting-policy">Agregar Poliza</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
      </ul>
     
    </div>
  </nav>