
    <div class="top-espacio">
<div class="container espacio">
    <div class="row justify-content-center">
        <div class="col-md-4">
            <!-- <div class="jumbotron-user"> -->

                <div class="card bg-light mb-6" style="max-width: 25rem;">
                    <div class="card-header">Bienvenido</div>
                    <div class="card-body">
                      <h5 class="card-title">Admin-Pro</h5>
                 
               <form [formGroup]="form" (ngSubmit)="onSubmit()">
                    <div class="form-group">
                <label for="exampleInputEmail1">Usuario</label>
                <input type="text" class="form-control" formControlName="username" aria-describedby="emailHelp" placeholder="Enter email">
                <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Clave de Usuario</label>
            <input type="password" class="form-control" formControlName="password" placeholder="Password">
        </div>
        <div class="form-check">
            <!-- <input type="checkbox" class="form-check-input" id="exampleCheck1"> -->
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button class="btn btn-primary">Submit</button>
    </form>
</div>
</div>
<!-- </div> -->
</div>
</div>
</div>
</div>
