<div class="container">

  <hr>
  <h2>
    Lista de Sub-Cuentas
  </h2>
  <hr>
</div>

  <div class="container">

    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th class="small-text" scope="col">Cuenta</th>
          <th scope="col">No Cuenta</th>
          <th scope="col">Sub-Cuenta</th>
          <th scope="col">No Sub-Cuenta</th>
          <th scope="col">Balance</th>
          <th scope="col">Estado</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let account of subAccounts">
          <th class="small-text">{{account.id}}</th>
          <td class="small-text">{{account.accountType.name}}</td>
          <td class="small-text">{{account.accountType.account}}</td>
          <td class="small-text">{{account.nameAccount}}</td>
          <td class="small-text">{{account.accountNumber | mask: "000-00-00"}}</td>
          <td class="small-text">{{account.balance | currency}}</td>
          <td class="small-text">{{account.status}}</td>
          <td><i class="fas fa-plus"></i></td>
          <td><button type="button" class="btn btn-secondary btn-sm"><i class="fas fa-plus"></i>poliza</button>
          </td>
         

          <td>
            <div class="custom-control custom-checkbox my-1 mr-sm-2">
              <!-- <input type="checkbox" value="{{invoice.payment}}" [checked] = "invoice.payment" (change)="onChange(invoice.id, $event.target.checked)" class="custom-control-input" id="{{invoice.id}}"> -->
              <!-- <label class="custom-control-label" for="{{invoice.id}}"></label> -->
            </div>
          </td>
        </tr>
        
      </tbody>
    </table>
  </div>