<h1>Account</h1>
<div class="input-group mb-3">
  <div class="custom-file" (change)="onFileSelected($event)">
    <input type="file" class="custom-file-input" id="inputGroupFile02">
    <label class="custom-file-label" for="inputGroupFile02">{{name}}</label>
  </div>
  <div class="input-group-append">
    <button class="btn btn-primary" (click)="onUploadTxtFile()">Enviar</button>
    <button class="btn btn-warning"  (click)="cancelFile()">Cancel</button>
  </div>
</div>
<small id="emailHelp" class="form-text text-muted">Seleccione un archivo Factura de Venta en formato XML de  para ser enviada.</small>

<div *ngIf="currentFileUpload" class="progress">
  <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar" attr.aria-valuenow="{{progress.percentage}}" aria-valuemin="0" aria-valuemax="100" [ngStyle]="{width:progress.percentage+'%'}">
    {{progress.percentage}}%</div>
    <!-- <mat-progress-bar mode="determinate" value="{{progress.percentage}}"></mat-progress-bar> -->
  </div>
